nav {
    background-color: rgb(194, 195, 194);
}

.fxxx {
    border: solid;
    display: flex;
    overflow: hidden;
}

.nav-linkactive {
    text-decoration: none; /* ลบเส้นใต้ */
    color: #000000; /* เปลี่ยนสีตัวอักษร */
    transition: color 0.3s ease; /* ทำให้การเปลี่ยนสีมีแอนิเมชัน */
    margin-left: 20px;
  }
  
  .nav-linkactive:hover {
    color: #ffffff; /* เปลี่ยนสีตัวอักษรเมื่อโฮเวอร์ */
    text-decoration: underline; /* หรือคุณอาจเลือกเพิ่มเส้นใต้เมื่อโฮเวอร์ หากต้องการ */
    border: 1px solid #ffffff;
    border-radius: 10px;
    padding: 5px 10px ;
  }
  
.reveiws {
  max-width: 600px;
  margin: auto;
}

.form {
  width: 400px;
  margin: 10px auto;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

.form-group label {
  display: block;
  margin-bottom: 10px;
}

.form-group input[type="text"], .form-group textarea {
  padding: 10px;
  width: 100%;
}

.alert-error {
  width: 100%;
  color: red;
  margin-bottom: 10px;
}

.alert-message {
  width: 100%;
  color: green;
  margin-bottom: 10px;
}

.imges {
 
  width: 300px;
  

}
